<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kivii.Barcode" version="5.6.2023.3000" targetFramework="net45" />
  <package id="Kivii.Biz.Basic" version="5.6.2023.4200" targetFramework="net45" />
  <package id="Kivii.Biz.Customers" version="5.6.2023.4080" targetFramework="net45" />
  <package id="Kivii.Biz.Organizations" version="5.6.2023.4080" targetFramework="net45" />
  <package id="Kivii.Codes" version="5.6.2023.4000" targetFramework="net45" />
  <package id="Kivii.Common" version="5.6.2024.5200" targetFramework="net45" />
  <package id="Kivii.Compression" version="5.6.2023.2000" targetFramework="net45" />
  <package id="Kivii.Core" version="5.6.2024.5200" targetFramework="net45" />
  <package id="Kivii.Jobs" version="5.6.2023.4000" targetFramework="net45" />
  <package id="Kivii.Linq" version="5.6.2024.6000" targetFramework="net45" />
  <package id="Kivii.Linq.Mysql" version="5.6.2023.3000" targetFramework="net45" />
  <package id="Kivii.Linq.Oracle" version="5.6.2024.1000" targetFramework="net45" />
  <package id="Kivii.Linq.Sqlite" version="5.6.2023.3000" targetFramework="net45" />
  <package id="Kivii.MiniProfiler" version="5.6.2023.2000" targetFramework="net45" />
  <package id="Kivii.Razor" version="5.6.2023.3000" targetFramework="net45" />
  <package id="Kivii.Resources.Extjs.V6.5" version="6.50.2022.12110" targetFramework="net45" />
  <package id="Kivii.Resources.Extjs.V6.50" version="6.50.2020.5000" targetFramework="net45" />
  <package id="Kivii.Server.Http" version="5.6.2023.3000" targetFramework="net45" />
  <package id="Kivii.Server.Runtime" version="5.6.2024.5200" targetFramework="net45" />
  <package id="Kivii.Storages" version="5.6.2022.12200" targetFramework="net45" />
  <package id="Kivii.Ui.Extjs" version="5.6.2023.2001" targetFramework="net45" />
</packages>