<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.0.2" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.2" targetFramework="net45" />
  <package id="EPPlus" version="7.1.1" targetFramework="net45" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net45" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net45" />
</packages>